<a href="/">
    <button class="back-button">Back to Home</button>
</a>
<div id="contact-container">
    <section id="contact-section">
        <form action="https://api.web3forms.com/submit" method="POST" id="contact-form">
            <div class="contact-left-title"><p>Get in touch</p></div>
            <input type="hidden" name="access_key" value="20bacf85-578c-4437-b269-eaa857a7e2f6">
            <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
            <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
            <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
            <button type="submit">Submit</button>
        </form>
        <div id="message-container">
            <p>I'd love to hear any feedback about how my ramblings on this page are becoming incoherent because I always just like
             to type what pops into my mind to create filler text to see how the page will handle it</p>
        </div>
    </section>
</div>