<button><a href="/">Back</a></button>
{{#if session.isLoggedIn}}
<button>Add post</button>
{{/if}}
<div id="project-container">
    {{#each project}}
    <section class="gallery-project">
        <img src="{{image}}" class="gallery-image"></img>
        <div>
            <p>{{title}}</p>
            <p>{{description}}</p>
        </div>
    </section>
    {{/each}}
</div>