<div id="body-container">
    <div id="home-container">
        <div id="container-left">
            <section id="welcome">
                <div id="welcome-container">
                    <div>
                        <p class="welcome-text">Hello, <br> I am <b>Tristan Hanson</b>, a full-stack web developer with a passion for building websites</p>
                        <p class="welcome-text">Have a look around and feel free to reach out!</p>
                    </div>
                    <nav id="welcome-nav">
                        <a class="icon" style="--clr:purple" href="https://github.com/Tristan-Hanson">
                                <i class="fa-brands fa-square-github fa-2x"></i>
                        </a>
                        <a class="icon" style="--clr:purple" href="https://www.linkedin.com/in/tristan-hanson-57751291/">
                                <i class="fa-brands fa-linkedin fa-2x"></i>
                        </a>
                    </nav>
                </div>
                <img src="./assets/images/cat.jpg" alt="stock cat image"/>
            </section>
            <div id="links">
                <section id='current-works' >
                    <p id="current-works-title">Currently working on:</p>
                    <ul>
                        <li>
                            <p class="current-project">Project 1</p>
                        </li>
                        <li>
                            <p class="current-project">Project 2</p>
                        </li>
                    </ul>
                    <p>Along with working on specific projects, I am continually pushing myself to learn new skills such as python or OOP</p>
                </section>
                <div id="link-left">
                    <section id="link-contact">
                        <a href="/contact" id="linkto-contact">Go to contact</a>
                    </section>
                    <section id="link-gallery">
                        <a href="/gallery" id="linkto-gallery">Go to gallery</a>
                    </section>
                    <section id="link-resume">Resume</section>
                </div>
                <div id="link-right">
                    <section id="link-tbd">TBD</section>
                    <section id="clock-container">
                        <p id="link-time"></p>
                    </section>
                    <section id="link-mode">
                        Switch mode
                    </section>
                </div>
            </div>
        </div>
        <div id="container-right">
            <section id="about">
                about
            </section>
            <section id="credits">
                credits
            </section>
        </div>
    </div>
</div>