<div id="body-container">
    <div id="home-container">
        <div id="container-left">
            <section id="welcome">
                <div id="welcome-container">
                    <div>
                        <p class="welcome-text">Hello, <br> I am <b>Tristan Hanson</b>, a full-stack web developer with a passion for building websites</p>
                        <p class="welcome-text">Have a look around and feel free to reach out!</p>
                    </div>
                    <nav id="welcome-nav">
                        <a class="icon" style="--clr:purple" href="https://github.com/Tristan-Hanson">
                                <i class="fa-brands fa-square-github fa-2x"></i>
                        </a>
                        <a class="icon" style="--clr:purple" href="https://www.linkedin.com/in/tristan-hanson-57751291/">
                                <i class="fa-brands fa-linkedin fa-2x"></i>
                        </a>
                    </nav>
                </div>
                <img src="./assets/images/cat.jpg" alt="stock cat image"/>
            </section>
            <div id="links">
                <section id='current-works' >
                    <p id="current-works-title">Currently working on:</p>
                    <ul>
                        <li>
                            <p class="current-project">Project 1</p>
                        </li>
                        <li>
                            <p class="current-project">Project 2</p>
                        </li>
                    </ul>
                    <p>Along with working on specific projects, I am continually pushing myself to learn new skills such as python or OOP</p>
                </section>
                <div id="link-left">
                    <section id="link-contact">
                        <a href="/contact" id="linkto-contact">
                            <p>Go to contact</p>
                        </a>
                    </section>
                    <section id="link-gallery">
                        <a href="/gallery" id="linkto-gallery">
                            <p>Go to gallery</p>
                        </a>
                    </section>
                    <section id="link-resume">Resume</section>
                </div>
                <div id="link-right">
                    <section id="clock-container">
                        <p id="link-time"></p>
                    </section>
                    <section id="link-mode">
                        <p>Switch mode</p>
                    </section>
                </div>
            </div>
        </div>
        <div id="container-right">
            <section id="about">
                <p>About Me</p>
                <p>I am a web developer from the US and my primary languages are</p>
                <ul>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>node.js</li>
                    <li>express.js</li>
                    <li>react</li>
                    <li>SQL</li>
                </ul>
                <p>Outside of programming I enjoy writing super long rambling text that is able to fill up the space on a page so it looks more full and i'll be ready to fix it later</p>
            </section>
            <section id="credits">
                <p>Website created by Tristan Hanson</p>
            </section>
        </div>
    </div>
</div>