<div id="body-container">
    <div id="home-container">
        <div id="container-left">
            <section id="welcome">
                <div id="welcome-container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vita</p>
                    <nav id="welcome-nav">
                        <form class="welcom-nav-item" action="https://github.com/Tristan-Hanson">
                            <button>
                                <i class="fa-brands fa-square-github"></i>
                            </button>
                        </form>
                        <form class="welcom-nav-item" action="https://www.linkedin.com/in/tristan-hanson-57751291/">
                            <button>
                                <i class="fa-brands fa-linkedin"></i>
                            </button>
                        </form>
                    </nav>
                </div>
                <img src="./assets/images/cat.jpg" alt="stock cat image" height="70%" width="40%"/>
            </section>
            <section id="links">
                links
            </section>
        </div>
        <div id="container-right">
            about
        </div>
    </div>
</div>