<div id="body-container">
    <div id="home-container">
        <div id="container-left">
            <section class="section" id="welcome">
                <div id="welcome-container">
                    <p id="welcome-text">Hello, <br> I am <b>Tristan Hanson</b>, a full-stack web developer with a passion for building websites<br>Have a look around and feel free to reach out!</p>
                    <nav id="welcome-nav">
                        <a class="icon" style="--clr:purple" href="https://github.com/Tristan-Hanson">
                                <i class="fa-brands fa-square-github fa-2x"></i>
                        </a>
                        <a class="icon" style="--clr:purple" href="https://www.linkedin.com/in/tristan-hanson-57751291/">
                                <i class="fa-brands fa-linkedin fa-2x"></i>
                        </a>
                    </nav>
                </div>
                <img src="./assets/images/cat.jpg" alt="stock cat image" height="90%" width="40%"/>
            </section>
            <section class="section" id="links">
                links
            </section>
        </div>
        <section class="section" id="container-right">
            about
        </section>
    </div>
</div>