<div id="login-container">
    <section>
        <form action="/user/login" method="POST" id="contact-form">
            <div class="contact-left-title"><p>Login</p></div>
            <input type="text" name="name" placeholder="Username" class="contact-inputs" required>
            <input type="password" name="password" placeholder="Password" class="contact-inputs" required>
            <button type="submit">Submit</button>
        </form>
    </section>
</div>
